* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html {
  width: 100%;
  font-family: Helvetica; }

body {
  width: 100%; }

.inline {
  display: inline; }

.no-margin {
  margin-top: 0;
  margin-bottom: 0; }

.inline-block {
  display: inline-block; }

.header-container {
  position: fixed;
  background-color: white;
  height: auto;
  top: 0;
  width: 100%;
  z-index: 100;
  padding: 28px 30px 28px 30px;
  vertical-align: middle;
  box-shadow: 0 9px 5px -7px #777; }
  .header-container .logo-header {
    font-size: 53px;
    font-family: 'Aclonica', sans-serif;
    background-color: black;
    color: white;
    padding: 10px; }
  .header-container .nav-links {
    float: right;
    vertical-align: middle;
    font-weight: 600;
    padding-top: 14px;
    font-size: 1.1em; }
    .header-container .nav-links ul li {
      display: inline-block;
      padding: 0 4px 2px 4px; }
      .header-container .nav-links ul li a {
        text-decoration: none;
        position: relative;
        color: #000; }
        .header-container .nav-links ul li a:hover {
          text-decoration: none; }
        .header-container .nav-links ul li a:before {
          content: "";
          position: absolute;
          width: 100%;
          height: 3px;
          bottom: 0;
          left: 0;
          background-color: orange;
          visibility: hidden;
          -webkit-transform: scaleX(0);
          transform: scaleX(0);
          -webkit-transition: all 0.3s ease-in-out 0s;
          transition: all 0.3s ease-in-out 0s; }
        .header-container .nav-links ul li a:hover:before {
          visibility: visible;
          -webkit-transform: scaleX(1);
          transform: scaleX(1); }

.intro-container {
  margin-top: 125px; }

.intro {
  font-family: 'Volkhov', serif;
  width: 75%;
  font-size: 4.5em;
  line-height: 1.3;
  font-weight: 500; }

.headshot img {
  height: 40%;
  width: 100%;
  display: block; }

.background {
  padding: 85px !important;
  height: 530px;
  vertical-align: top;
  line-height: 1.8; }
  .background h2 {
    text-align: center;
    font-weight: 600; }

.skills {
  padding: 85px !important;
  height: 530px;
  background-color: black;
  text-align: center;
  color: white; }
  .skills h2 {
    text-align: center;
    font-weight: 600; }
  .skills i {
    font-size: 25px;
    color: orange; }
  .skills ol {
    margin-top: 30px; }
    .skills ol li {
      padding-top: 5px;
      padding-bottom: 5px; }

.project-1 {
  background-image: url("img/github-profile-screenshot.png"); }

.contact {
  height: auto;
  background-color: black;
  color: white;
  text-align: center;
  padding-top: 20px !important;
  padding-bottom: 20px !important; }
  .contact h2 {
    text-align: center;
    font-weight: 600; }
  .contact ol {
    padding: 10px 30px 10px 30px;
    display: inline-block; }
    .contact ol li {
      display: inline-block;
      padding: 10px 30px 10px 30px; }
      .contact ol li i {
        font-size: 95px;
        color: orange;
        transition-property: color;
        transition-duration: 0.3s;
        transition-timing-function: linear; }
        .contact ol li i:hover {
          color: white; }
  .contact p {
    text-align: center; }

footer {
  height: 100px;
  background-color: white;
  position: relative; }
  footer p.copyright {
    font-family: 'Volkhov', serif;
    font-size: 20px;
    position: absolute;
    left: 46px;
    bottom: 38px; }
    footer p.copyright i {
      color: red; }
  footer .logo-footer {
    font-size: 30px;
    font-family: 'Aclonica', sans-serif;
    background-color: black;
    color: white;
    padding: 10px;
    position: absolute;
    right: 50px;
    bottom: 24px; }

@media (max-width: 1000px) {
  .intro {
    font-size: 3.0em; } }

@media (max-width: 677px) {
  .intro {
    font-size: 2.5em; }
  .headshot {
    padding-left: 0 !important; }
    .headshot img.john-headshot-1 {
      padding-left: 0 !important;
      height: 35%; } }

@media (max-width: 677px) and (max-width: 600px) {
  .hide-on-mobile {
    display: none; }
  .header-container {
    padding: 15px 6px 15px 12px; }
  .intro-container {
    margin-top: 110px; }
  .headshot {
    padding: 0 !important; }
    .headshot img.john-headshot-1 {
      height: 45%; }
  .project {
    border-bottom: 3px solid white !important; } }

@media (max-width: 677px) and (max-width: 420px) {
  .logo {
    font-size: 20px; }
  .intro-container {
    margin-top: 90px; }
  p.intro-text {
    font-size: 0.8em;
    line-height: 1.2;
    font-weight: 500; }
  li.nav-links {
    padding: 0 2px 2px 2px; } }
