          // Sass variables
          // 
          // $primary-color:;
          // $secondary-color: ;
          // $font-color:;
          // $border-color: ;
          // Sass imports
          // Sass mixins
          @mixin border-box {
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
          }
          
          // selectors
          * {
            @include border-box;
          }
          
          html {
            width: 100%;
            font-family: Helvetica;
          }
          
          body {
            width: 100%;
          }
          
          .inline {
            display: inline;
          }
          
          .no-margin {
            margin-top: 0;
            margin-bottom: 0;
          }
          
          .inline-block {
            display: inline-block;
          }
          
          //Header
          .header-container {
            position: fixed;
            background-color: white;
            height: auto;
            top: 0;
            width: 100%;
            z-index: 100;
            padding: 28px 30px 28px 30px;
            vertical-align: middle;
            // box-shadow: 0px 3px 5px gray;
            box-shadow: 0 9px 5px -7px #777;
            .logo-header {
              font-size: 53px;
              font-family: 'Aclonica', sans-serif;
              background-color: black;
              color: white;
              padding: 10px;
              // box-shadow: 0 10px 6px -6px #777;
            }
            .nav-links {
              float: right;
              vertical-align: middle;
              font-weight: 600;
              padding-top: 14px;
              font-size: 1.1em;
              ul {
                display: inline;
                li {
                  display: inline-block;
                  padding: 0 4px 2px 4px;
                  a {
                    text-decoration: none;
                    position: relative;
                    color: #000;
                    &:hover {
                      text-decoration: none;
                    }
                    &:before {
                      content: "";
                      position: absolute;
                      width: 100%;
                      height: 3px;
                      bottom: 0;
                      left: 0;
                      background-color: orange;
                      visibility: hidden;
                      -webkit-transform: scaleX(0);
                      transform: scaleX(0);
                      -webkit-transition: all 0.3s ease-in-out 0s;
                      transition: all 0.3s ease-in-out 0s;
                    }
                    &:hover:before {
                      visibility: visible;
                      -webkit-transform: scaleX(1);
                      transform: scaleX(1);
                    }
                  }
                }
              }
            }
          }
          
          .intro-container {
            margin-top: 125px;
          }
          
          .intro {
            font-family: 'Volkhov', serif;
            width: 75%;
            font-size: 4.5em;
            line-height: 1.3;
            font-weight: 500;
          }
          
          .headshot {
            // width: 24.6%;
            // position: relative;
            img {
              // position: absolute;
              // top: 50%;
              height: 40%;
              width: 100%;
              display: block;
              // border: 2px solid gray;
            }
          }
          
          .background {
            padding: 85px !important;
            height: 530px;
            vertical-align: top;
            line-height: 1.8;
            h2 {
              text-align: center;
              font-weight: 600;
            }
          }
          
          .skills {
            padding: 85px !important;
            height: 530px;
            background-color: black;
            text-align: center;
            color: white;
            h2 {
              text-align: center;
              font-weight: 600;
            }
            i {
              font-size: 25px;
              color: orange;
            }
            ol {
              margin-top: 30px;
              li {
                padding-top: 5px;
                padding-bottom: 5px;
              }
            }
          }
          
          .project-1 {
            background-image: url('img/github-profile-screenshot.png');
          }
          
          .contact {
            height: auto;
            background-color: black;
            color: white;
            text-align: center;
            padding-top: 20px !important;
            padding-bottom: 20px !important;
            h2 {
              text-align: center;
              font-weight: 600;
            }
            ol {
              padding: 10px 30px 10px 30px;
              display: inline-block;
              li {
                display: inline-block;
                padding: 10px 30px 10px 30px;
                i {
                  font-size: 95px;
                  color: orange;
                  transition-property: color;
                  transition-duration: 0.3s;
                  transition-timing-function: linear;
                  &:hover {
                    color: white;
                  }
                }
              }
            }
            p {
              text-align: center;
            }
          }
          
          footer {
            height: 100px;
            background-color: white;
            position: relative;
            p.copyright {
              display: inline;
              font-family: 'Volkhov', serif;
              font-size: 20px;
              position: absolute;
              left: 46px;
              bottom: 38px;
              i {
                color: red;
              }
            }
            .logo-footer {
              display: inline;
              font-size: 30px;
              font-family: 'Aclonica', sans-serif;
              background-color: black;
              color: white;
              padding: 10px;
              position: absolute;
              right: 50px;
              bottom: 24px;
            }
          }
          
          //Mediq Queries
          @media (max-width: 1000px) {
            .intro {
              font-size: 3.0em;
            }
            .background {
              padding: 40px !important;
            }
            .skills {
              padding: 40px !important;
            }
          }
          
          @media (max-width: 825px) {
            .contact ol li i {
              font-size: 55px;
            }
            .intro {
              font-size: 2.3em;
            }
          }
          
          @media (max-width: 680px) {
            .intro {
              font-size: 2.5em;
            }
            .headshot {
              padding-left: 0 !important;
              img.john-headshot-1 {
                padding-left: 0 !important;
                height: 35%;
              }
            }
            .background {
              padding: 20px !important;
            }
            .skills {
              padding: 20px !important;
            }
            .contact ol li i {
              font-size: 60px;
            }
            .contact ol li {
              padding: 10px 15px 10px 15px;
            }
            .contact ol {
              padding: 10px 5px 10px 5px;
            }
            footer>p.copyright {
              font-size: 15px;
            }
            .logo-footer {
              // display: block !important;
              // position: initial !important;
            }
            @media (max-width: 600px) {
              .hide-on-mobile {
                display: none;
              }
              .header-container {
                padding: 15px 6px 15px 12px;
                .logo-header {
                  font-size: 28px;
                }
              }
              .intro-container {
                margin-top: 80px;
              }
              .headshot {
                padding: 0 !important;
                img.john-headshot-1 {
                  height: 45%;
                }
              }
              .project {
                border-bottom: 3px solid white !important;
              }
            }
            @media (max-width: 560px) {
              footer {
                p.copyright {
                  left: 23px;
                }
                .logo-footer {
                  right: 25px;
                }
              }
            }
            @media (max-width: 510px) {
              footer {
                height: 50px;
                p.copyright {
                  text-align: center;
                  position: initial;
                  display: block;
                  margin-top: 6%;
                }
                .logo-footer {
                  display: none;
                }
              }
            }
            @media (max-width: 480px) {
              .header-container .logo-header {
                font-size: 24px;
              }
              p.intro-text {
                font-size: 0.6em;
                line-height: 1.2;
                font-weight: 500;
              }
              .nav-links {
                font-size: 1em !important;
              }
              .contact ol li i {
                font-size: 40px;
                padding: 0;
              }
              footer {
                p.copyright {
                  font-size: 13px;
                }
              }
            }
            @media (max-width: 420px) {
              .logo-header {
                font-size: 20px;
              }
              .intro-container {
                margin-top: 90px;
              }
              p.intro-text {
                font-size: 0.8em;
                line-height: 1.2;
                font-weight: 500;
              }
              li.nav-links {
                padding: 0 2px 2px 2px;
              }
            }
            @media (max-width: 400px) {
              .logo-header {
                font-size: 20px;
              }
              .intro-container {
                margin-top: 65px;
              }
              p.intro-text {
                font-size: 0.8em;
                line-height: 1.2;
                font-weight: 500;
              }
              .nav-links {
                font-size: 0.8em !important;
              }
              .contact ol li i {
                font-size: 30px;
                padding: 0;
              }
              .contact ol {
              	padding: 8px 3px 8px 3px;
              }
              footer {
                p.copyright {
                  font-size: 12px;
                }
              }
            }
            @media (max-width: 320px) {
              .header-container {
                padding: 15px 6px 10px 12px;
                .logo-header {
                  font-size: 15px !important;
                }
              }
              p.intro-text {
                font-size: 0.6em;
                line-height: 1.2;
                font-weight: 500;
              }
              .nav-links {
                font-size: 0.6em !important;
              }
              .contact ol li i {
                font-size: 25px;
                padding: 0;
              }
            }
          }
